@import url('https://fonts.googleapis.com/css?family=Poppins:300,400, 500');

#top, #bottom, #left, #right {
	background: #100077;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 0px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


#navbar {
    background-color: white;
    height: 55px;
    width: 100%;
    left: 0;
    display: inline;
    position: fixed;
    border-style: solid;
    border-color: #100077;
    border-width: 10px;
    border-bottom: 0px;

    z-index: 5;   
}

#magglass {
    color: white;
    float: right;
    font-size: 23px;
    display: inline;
    background-color: #100077;
    padding: 9px;
    border-style: solid;
    border-width: 1px;
    border-color: #100077;
    border-top: 0px;
    border-right: 0px;
}

#magglass:hover {
    color: #100077;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #100077;
    border-top: 0px;
    border-right: 0px;  
}


#searchbox {
    width: 10%;
    height: 24px; 
    margin-top: 8px;
    margin-right: 5px;
    float: right;
    background: white;
    border-style: solid;
    border-color: #100077;
    border-width: 1.20px;
    border-radius: 4px;
    display: none;
}

#loginb {
    background-color: #100077;
    float: right;
    display: inline;
    border-width: 0px;
    border-radius: 0px;
    height: 42px;
    font-family: "Poppins";
    color: white;
    width: 100px;  
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

#loginb:hover {
    color: #100077;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #100077;
    border-top: 0px;
    border-right: 0px;  
}

#tbox {
    background-color: #100077;
    width: 85px;
    height: 87px;
    margin-top: 15px;
    margin-left: 0px;
    position: absolute;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 5px 5px -5px #333;
}

#title {
    font-family: "Poppins";
    font-size: 35px;
    line-height: 95%;
    color: white;
    margin-left: 8px;
    margin-top: 8px;
   
    
}

#signupdiv {
    float: left;
    top: 150px;
    left: 10px;
    height: 300px;
    width: 275px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #100077;
    position: fixed;
    box-shadow: 0 5px 5px -5px #333;
}

#signupwrapper {
    position: relative;
    margin-top: 40px;
    text-align: center;
}

#usernamet, #passwordt, #desct {
    font-family: "Poppins";
    font-size: 11.5px;
    color: snow;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    text-align: left;
    font-weight: 300;
    text-shadow: 0 5px 5px -5px #333;
}

#username, #password {
    width: 225px;
    height: 20px;
    float: left;
    margin-bottom: 3px;
    margin-top: 2px;
    margin-left: 15px;
    border-radius: 4px;
    border-style: solid;
    border-color: #0e0163;
    border-width: 1.25px;
    background: white;
    font-family: "Poppins";
    font-size: 11px;
    font-weight: 600;
    color: black;
    opacity: 0.99;
    box-shadow: 0 5px 5px -5px #333;
}

#description {
    width: 230px;
    height: 50px;
    float: left;
    border-radius: 4px;
    border-style: solid;
    border-color: #0e0163;
    border-width: 1.25px;
    background: white;
    margin-bottom: 2px;
    margin-left: 15px;
    font-family: "Poppins";
    font-size: 11px;
    color: black;
    box-shadow: 0 5px 5px -5px #333;
}

#maxCount, #keyCount{
	font-family: "Poppins";
    font-size: 10px;
    color: white;
}

#signupb {
    height: 20px;
    width: 125px;
    margin: 0 auto;
    margin-top: 15px;
    background: white;
    border: 1px solid snow;
    border-radius: 4px;
    border-color: black;
    font-family: "Poppins";
    font-size: 10px;
    font-weight: 500;
    color: #100077;
}

#signupb:hover {
    background: #1b297f;
    color: white;
    border-color: white;
}

#feed {
    position: absolute;
    height: 100%;
    width: 75%;
    right: 0%;
    margin-top: 6%;
    margin-right: 2%;
    text-align: center;
}

.img {
    height: 45%;;
    margin: 10px; 
}

.img:hover {
    opacity: 0.9;
}

#logindiv {
    position: absolute;
    right: 8px;
    top: 55px;
    width: 310px;
    background-color: #100077; 
    margin: 0 auto;
    text-align: center;
    z-index: 4;
    display: none;
    border-radius: 3px;
    box-shadow: 0 5px 5px -5px #333;
}

#fwrapper {
    text-align: center;
}

#loginbmodal {
    height: 20px;
    width: 125px;
    margin: 0 auto;
    background: #100077;
    border: 1px solid white;
    border-radius: 4px;
    border-color: white;
    font-family: "Poppins";
    font-size: 10px;
    font-weight: 500;
    color: white;
    box-shadow: 0 5px 5px -5px #333;
}

#loginbmodal:hover {
    background: white;
    color: #100077;
    border-color: #100077;
}


------------------------------------------------------------------

#check {
    display: block;
    color: snow;
    font-size: 35px;
}

#wrapper {
    text-align: left;
    height: 550px;
}


#userpng {
    padding: 0px;
    font-size: 30px;    
}

#caption {
    font-family: "Raleway";
    font-size: 11px;
    width: 455px;
    font-weight: 400;
    margin: 1px;
    text-align: justify;
    display: inline-grid;
}

#unc {
    font-weight: 700;
    font-size: 15px;
    font-style: italic;
}

#showb {
    font-family: "Open Sans Condensed";
    font-size: 12px;
    background: rgba(0, 0, 0, 0.9);
    border-style: solid;
    border-color: snow;
    border-radius: 5px;
    border-width: 1px;
    color: snow;
    display: flex;
    margin: 0 auto;
    width: 95%;
    padding: 5px;
	justify-content: center;
	transition: all 500ms ease-in-out;

}

#showb:hover {
    background-color: snow;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1.5px;
}



.checkbox-black.filled-in[type="checkbox"] + label:after{
  	border: 2px solid snow;
 	background: transparent;
}
.checkbox-black.filled-in[type="checkbox"]:checked + label:after{
 	background: black;
}
.checkbox-black.filled-in[type="checkbox"]:checked + label:before{
	 border-top: 2px solid transparent;
	 border-left: 2px solid transparent;
	 border-right: 2px solid #fff;
	 border-bottom: 2px solid #fff;
}



a#search:hover{
	cursor:pointer;
}
